.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
  color: #333;
}

.form-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.form-container input,
.form-container button {
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form-container button {
  background: #4f46e5;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.form-container button:hover {
  background: #4338ca;
}

.error {
  text-align: center;
  color: #dc2626;
  font-size: 18px;
  margin-bottom: 15px;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #555;
}

.clickForDate {
    margin-top: 2rem;
    color: gray;
}

.results {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 5rem;
}

.summary-card {
  background: black;
  color: white;
  padding: 18px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card {
  background: black;
  color: white;
  border-radius: 12px;
  padding: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.id {
  color: white;
}

.date {
  color: white;
}
