body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #0e0e15;
  color: #fff;
  height: 100%;
}

.main-content {
  padding-top: 80px;
  padding-bottom: 60px;
  min-height: calc(85vh - 140px);
}
